<template name="CreateCircle">


<div id="content-container">
    <div id="main-content" class="col-sm-4 col-sm-offset-4">
      <div id="create-circle-title">Create new circle!</div>
      <div id="circle-name-input-container" class="form-group input-block-level">
          <input type="text" id="circle-name" class="form-control" placeholder="Circle name">
      </div>

      <div class="form-group input-block-level">
          <input type="text" id="friend-email" class="form-control" placeholder="Add friend email">
      </div>

      <div class="form-group input-block-level" style="height: 70px; border-bottom: 1px solid #eee">
          <button id="add-friend" class="btn"> 
            <i class="fa fa-4x fa-plus-circle"></i> 
          </button>
      </div>

      <div id="addedUsersContainer">
        <ul id="addedUsers">
          {{#each friendsInCircle}}
              <li>{{.}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
</div>

<div id="save-button-container">
  <div id="bottom-panel-holder">
    <button id="save-circle" class="btn"> 
      <i class="fa fa-4x fa-rocket"></i> 
    </button>
  </div>
</div>

</template>
